{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Anagrafiche Fornitori{% endblock head_title %}

{% block content %}

<div class="row justify-content-center mt-4">
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form>
        <ul>
        {% for supplier in filter.qs %}
            <li>{{ supplier.company_name }} - {{ supplier.vat_number }}</li>
        {% endfor %}
        </ul>
</div>

{% endblock content %}