{% load static %}
<!-- sidebar -->
<div class="l-navbar" id="nav-bar">
    <nav class="nav-l">
        <div> 
            <!-- <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
                    class="nav_logo-name">Chem Tracking</span> </a> -->
                    <a href="#" class="header_img" style="margin-left: 10px; margin-bottom: 30px;"> <img src="{% static '/img/r4gtl.png' %}" alt=""></i> </a>
                    
                    <li class="mb-1">                                                                           
                        <a class="btn btn-toggle align-items-center rounded collapsed nav_link" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false" id="demo"> <i class="fa fa-address-book-o" aria-hidden="true"></i>
                            Anagrafiche
                    </a>
                        <div class="collapse nav_list" id="dashboard-collapse" style="margin-left:60px"  >
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" >
                                <li><a href="{% url 'search-supplier' %}" target="_blank" rel="noopener noreferrer" class="link-light rounded nav_link">Fornitori</a></li>
                                
                                <li><a href="#" class="link-light rounded nav_link">Clienti</a></li>
                                <li><a href="#" class="link-light rounded nav_link">Operatori</a></li>                                            
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <a class="btn btn-toggle align-items-center rounded collapsed nav_link" data-bs-toggle="collapse"
                            data-bs-target="#tabelle-collapse" aria-expanded="false" id="demo"> <i class='far fa-hdd nav_icon'></i>
                            Tabelle
                    </a>
                        <div class="collapse nav_list" id="tabelle-collapse" style="margin-left:60px"  >
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" >                                        
                                <li><a href="#" class="link-light  nav_link">Sostanze</a></li>
                                <li><a href="#" class="link-light  nav_link">SVHC</a></li>                                            
                                <li><a href="#" class="link-light  nav_link">Frasi di rischio</a></li>
                                <li><a href="#" class="link-light  nav_link">Etichette CLP</a></li>
                                <li><a href="#" class="link-light  nav_link">Imballaggi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <a class="btn btn-toggle align-items-center rounded collapsed nav_link" data-bs-toggle="collapse"
                            data-bs-target="#acquisti-collapse" aria-expanded="false" id="demo"> <i class='far fa-clipboard nav_icon'></i>
                            Acquisti
                    </a>
                        <div class="collapse nav_list" id="acquisti-collapse" style="margin-left:60px"  >
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" >
                                <li><a href="fornitori.html" target="_blank" rel="noopener noreferrer" class="link-light rounded nav_link">Ordini</a></li>
                                <li><a href="#" class="link-light rounded nav_link">Acquisti</a></li>                                                                       
                            </ul>
                        </div>
                    </li>
                    <!-- inizio lista ricette -->
                    <li class="mb-1">
                        <a class="btn btn-toggle align-items-center rounded collapsed nav_link" data-bs-toggle="collapse"
                            data-bs-target="#ricette-collapse" aria-expanded="false" id="demo"> <i class='far fa-list-alt nav_icon'></i>
                            Ricette
                    </a>
                        <div class="collapse nav_list" id="ricette-collapse" style="margin-left:60px"  >
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" >
                                <!-- Inizio lista bagnato -->
                                <li class="mb-1">
                                    <a class="btn btn-toggle align-items-center rounded collapsed nav_link" data-bs-toggle="collapse"
                                        data-bs-target="#bagnato-collapse" aria-expanded="false">
                                        Bagnato
                                </a>
                                    <div class="collapse nav_list" id="bagnato-collapse" style="margin-left:60px"  >
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" >
                                            <li><a href="fornitori.html" target="_blank" rel="noopener noreferrer" class="link-light rounded nav_link">Articoli</a></li>
                                            <li><a href="#" class="link-light rounded nav_link">Colori</a></li>                                                                       
                                        </ul>
                                    </div>
                                </li>
                                <!-- fine lista bagnato -->
                                <!-- Inizio lista rifinizione -->
                                <li class="mb-1">
                                    <a class="btn btn-toggle align-items-center rounded collapsed nav_link" data-bs-toggle="collapse"
                                        data-bs-target="#rifinizione-collapse" aria-expanded="false">
                                        Rifinizione
                                </a>
                                    <div class="collapse nav_list" id="rifinizione-collapse" style="margin-left:60px"  >
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" >
                                            <li><a href="fornitori.html" target="_blank" rel="noopener noreferrer" class="link-light rounded nav_link">Articoli</a></li>
                                            <li><a href="#" class="link-light rounded nav_link">Colori</a></li>                                                                       
                                        </ul>
                                    </div>
                                </li>
                                <!-- fine lista rifinizione -->
                            </ul>
                        </div>
                    </li>
                    <!-- fine lista ricette -->
            <div class="nav_list"> 
                <!-- <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Users</span> </a> 
                <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Messages</span> </a> 
                <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a> 
                <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a> -->
                <a href="#" class="nav_link"> <i class='far fa-chart-bar nav_icon'></i> <span class="nav_name">Stats</span> </a> 
            </div>
                    
        </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                class="nav_name">SignOut</span> </a>
    </nav>
</div>
<!-- fine sidebar -->