{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}{{ block.super }} - Crea/Modifica Ordine{% endblock head_title %}




{% block content %}
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
     -moz-appearance: textfield;
  }
  </style>
  
    <div class="container">
      <br>
      <h5 class="text-end">Ordine {{ supplier.id_supplier }}</h5>
  
      <hr>
      <br>

      <div class="form-group">
        <form class="" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" class="btn btn-info mb-2 me-1" value="Salva ed Esci">
                    <div class="row mb-4">

                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row">
                          
                            <div class="col-md-2">
                              {{ form.id_order.as_hidden }}
                              {{ form.id_dich_int.as_hidden }}
                              {{ form.n_order|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                              {{ form.order_date|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                              {{ form.id_supplier|as_crispy_field }} 
                            </div>

                            <div class="col-md-1" >
                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary mt-4" id="load-modal" data-bs-toggle="modal" data-bs-target="#SearchSupplierModal">
                              <span class="bi bi-search"></span>
                            </button>
                          </div>  
                          {% include 'partials/_supplier_modal.html' %}
                            
                          
                        </div>
                        <hr>
                        <p>Dettaglio Ordine</p>
                        <!-- Detail Section -->
                        <div class="row">
                          <div class="col-md-8">                          
                            <table class="table table-bordered table-striped">                              
                              <thead>   
                                <tr>
                                  <th class="text-center">Prodotto</th>
                                  <th class="text-center">UM</th>
                                  <th class="text-center">Quantità</th>
                                  <th class="text-center">Aspetto dei beni</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for detail in order_detail %}
                                <tr>  
                                  <td class="text-center"><a href="">{{ detail.id_chemical }}</a></td>
                                  <td class="text-center">{{ detail.um }}</td>
                                  <td class="text-center">{{ detail.quantity }}</td>
                                  <td class="text-center">{{ detail.id_packaging_type }}</td>
                                </tr>  
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          <div class="col-md-4">
                            {% if form.instance.pk  %}
                            <a class="btn btn-sm btn-outline-success mb-2" href="{% url 'chemicals:add-detail' pk=order_instance.pk %}">Aggiungi</a>
                            {% else %}
                                <a class="btn btn-sm btn-outline-success mb-2" disabled>Salvare per inserire</a>
                            {% endif %}
                          </div>

                        </div>

                        <!-- Detail Section -->
                        <div class="row">
                          <div class="col-md-12">                            
                            {{ form.delivery_date|as_crispy_field }} 
                            {{ form.notes|as_crispy_field }}
                            {{ form.user_id|as_crispy_field }}
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">                            
                            {{ form.conformity|as_crispy_field }} 
                            {{ form.n_conformity|as_crispy_field }}
                            {{ form.n_conformity_reasons|as_crispy_field }}
                            {{ form.operator|as_crispy_field }}
                          </div>
                        </div>

                    </div>
                      </div>

        <!-- fine form -->
        </form>



    </div>






    </div>

    
{% endblock content %}

{% block scripts %}{{ block.super }}


<script src="{% static 'js/chemicals/chemicals.js' %}"></script>

{% endblock scripts %}

