{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block scripts %}
    
{% endblock scripts %}

{% block head_title %}{{ block.super }} - Crea/Modifica Ordine{% endblock head_title %}

{% block content %}

    <div class="container">
      <br>
      <h5 class="text-end">Ordine {{ supplier.id_supplier }}</h5>
  
      <hr>
      <br>

      <div class="form-group">
        <form class="" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" class="btn btn-info mb-2 me-1" value="Salva ed Esci">
            <input type="submit" class="btn btn-info mb-2 me-1" value="Salva e procedi col dettaglio">


                    <div class="row mb-4">

                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row">
                          
                            <div class="col-md-4">
                              {{ form.id_order.as_hidden }}
                              {{ form.id_chemical|as_crispy_field }}
                            </div>  
                            <div class="col-md-2">
                              {{ form.um|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                              {{ form.quantity|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                              {{ form.id_packaging_type|as_crispy_field }}
                            </div>
                        </div>
                        

                        

                    </div>
                      </div>

        <!-- fine form -->
        </form>

    </div>
    <!-- inizio lista recenti -->
    <button class="btn btn-primary" id="load-btn">Vedi recenti</button>
                        <hr>
                        <p>Ordini Precedenti</p>
                        <!-- Detail Section -->
                        <div class="row" >
                          <div class="col-md-8" >                          
                            <table class="table table-bordered table-striped">                              
                              <thead>   
                                <tr>
                                  <th class="text-center">Ordine</th>
                                  <th class="text-center">Data Ordine</th>
                                  <th class="text-center">Prodotto</th>
                                  <th class="text-center">UM</th>
                                  <th class="text-center">Quantità</th>
                                  <th class="text-center">Aspetto dei beni</th>
                                </tr>
                              </thead>
                              <tbody id="recent-box">
                                <!-- {% for detail in order_detail %}
                                <tr >  
                                  <td class="text-center"><a href="">{{ detail.id_chemical }}</a></td>
                                  <td class="text-center">{{ detail.um }}</td>
                                  <td class="text-center">{{ detail.quantity }}</td>
                                  <td class="text-center">{{ detail.id_packaging_type }}</td>
                                </tr>   -->
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          

                        </div> <!-- fine lista recenti -->

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    prev = document.getElementById("previous_page");
    prev.value = document.referrer;




const loadBtn = document.getElementById('load-btn')
const url = window.location.href + "data/"
const recentBox = document.getElementById('recent-box')

console.log('Hello World')



const getData = () => {
    let idchem=document.querySelector('#id_id_chemical').value
    $.ajax({
        type: 'GET',        
        url: `/chemicals/data/${idchem}/`,
        
        
        success: function(response){
            const data = response.data
            console.log('Hello World ce l\'hai fatta')
            
            $(recentBox).empty()
            for (var i = 0; i < data.length; i++){
                var row = `
                <tr>  
                <td class="text-center"><a href="">${data[i].id_order}</a></td>
                <td class="text-center">${data[i].order_date}</td>
                <td class="text-center">${data[i].id_chemical}</td>
                <td class="text-center">${data[i].um}</td>
                <td class="text-center">${data[i].quantity}</td>
                <td class="text-center">${data[i].id_packaging_type}</td>
                </tr>  
                `
            recentBox.innerHTML+=row
        }},
        error: function(error){
        
        console.log(error)
        
        }
        
    })
}


loadBtn.addEventListener('click', ()=>{
    
    let idchem=document.querySelector('#id_id_chemical').value    
    getData()
})


getData()
</script>

{% endblock content %}