{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block head_title %}{{ block.super }} - Crea/Modifica Ordine{% endblock head_title %}

{% block content %}

    <div class="container">
      <br>
      <h5 class="text-end">Ordine {{ supplier }}</h5>
      <h5 class="text-end hidden" id="supplier">{{ supplier.id_supplier }}</h5>
      <hr>
      <br>

        <div class="form-group">
          <form class="" method="POST" novalidate enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" id="previous_page" name="previous_page"
              value="/previous/page/url">
              <input type="submit" class="btn btn-info mb-2 me-1" name="save" value="Salva ed Esci">
              <input type="submit" class="btn btn-info mb-2 me-1" name="save_go_ahead" value="Salva e procedi col dettaglio">


                      <div class="row mb-4">
                        <div class="col-md-12 border rounded shadow-sm">
                          <div class="row" style="align-items:center;">                          
                              <div class="col-md-4">                              
                                {{ form.id_order.as_hidden }}
                                {{ form.id_chemical|as_crispy_field }}
                              </div>
                              <div class="col-md-1" >
                                  <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary " id="load-modal" data-bs-toggle="modal" data-bs-target="#SearchChemModal">
                                  <span class="bi bi-search"></span>
                              </button>
                              </div>  
                            {% include 'partials/_chem_search_modal.html' %}
                              
                              <div class="col-md-2">
                                {{ form.um|as_crispy_field }}
                              </div>
                              <div class="col-md-2">
                                {{ form.quantity|as_crispy_field }}
                              </div>
                              <div class="col-md-3">
                                {{ form.id_packaging_type|as_crispy_field }}
                              </div>
                          </div>
                        </div>
                      </div>

          <!-- fine form -->
          </form>
      </div>
    <!-- inizio lista recenti -->
    
                        <hr>
                        <p>Ordini Precedenti</p>
                        <!-- Detail Section -->
                        <div class="row" >
                          <div class="col-md-8" >                          
                            <table class="table table-bordered table-striped">                              
                              <thead>   
                                <tr>
                                  <th class="text-centespinnerBox.classList.add('not-visible')">Ordine</th>
                                  <th class="text-center">Data Ordine</th>
                                  <th class="text-center">Prodotto</th>
                                  <th class="text-center">UM</th>
                                  <th class="text-center">Quantità</th>
                                  <th class="text-center">Aspetto dei beni</th>
                                </tr>
                              </thead>
                              <tbody id="recent-box">
                                
                              </tbody>
                            </table>
                          </div>
                        </div> <!-- fine lista recenti -->
    </div>
    
    {% endblock content %}
    
    
    {% block scripts %}{{ block.super }}
    <script src="{% static 'js/chemicals/search_chemicals.js' %}"></script>
    {% endblock scripts %}





