{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Crea nuovo Fornitore{% endblock head_title %}

{% block content %}

    <!-- Breadcrumb -->
    <section id="bc" style="font-size: large; color: white;" class="card">
    <div class="card-body">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb link-dark">
        <li class="breadcrumb-item link-dark" >
            <a href="{% url 'homepage' %}" class="link-dark"> Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'master_data:search-supplier' %}">Fornitori</a>
        </li>
        <li class="breadcrumb-item active">Aggiungi</li>
        </ol>
    </nav>
    </div>
</section>


<div class="container">
    <br>
    <h5 class="text-end">Listino Prezzi Fornitore: {{ supplier.company_name }}</h5>

    <hr>
    <br>

    <input type="hidden" id="previous_page" name="previous_page" 
    value="/previous/page/url">
    
        <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Prodotto</th>
                            <th>Prezzo</th>
                            <th>Solvente</th>
                            <th>Revisione SDS</th>                                                       
                            <th>SDS</th>    
                          </tr>
                        </thead>
                        <tbody>
                          {% for chemical in chemicals_list %}
                          <tr>                                    
                            <td><a href="{% url 'chemicals:single-product' pk=chemical.pk %}">{{ chemical.description }}</a></td>
                            <td>{{ chemical.last_price.price }}</td>                            
                            <td>{{ chemical.cov }}</td>
                          {% endfor %}
                        </tbody>
                      </table>
    </div>



</div>

<script>
    prev = document.getElementById("previous_page");
    prev.value = document.referrer;
</script>

{% endblock content %}