{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}



{% block head_title %}{{ block.super }} - Prodotti Chimici{% endblock head_title %}

{% block content %}

    <!-- Breadcrumb -->
    <section id="bc" style="font-size: large; color: white;" class="card">
    <div class="card-body">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb link-dark">
        <li class="breadcrumb-item link-dark" >
            <a href="{% url 'core:homepage' %}" class="link-dark"> Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'master_data:search-supplier' %}">Fornitori</a>
        </li>
        <li class="breadcrumb-item active">Aggiungi</li>
        </ol>
    </nav>
    </div>
</section>


<div class="container">
    <br>
    <h6 class="text-end">Listino Prezzi Fornitore: {{ supplier.company_name }}</h6>

    <hr>
    <br>

    <input type="hidden" id="previous_page" name="previous_page" 
    value="/previous/page/url">
    <!-- filter -->
    <form method="get">      
        <h6 style="margin-top: 0">Cerca Prodotto</h6>
        
        <div class="row align-middle">
          <div class="col-8">
          <div class="form-group">
            {{ filter.form.description.label_tag }} 
            {% render_field filter.form.description class="form-control" id="toClear" %}
          </div>
            
          </div>   
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-sm mt-4 ">
              <span class="bi bi-search"></span> Cerca
            </button>
            <button class="btn btn-success btn-sm mt-4 clearText"><span class="bi bi-arrow-repeat"></span> Pulisci filtro</button>

          </div>       
        
        
      
    </div>
    </form>
    
    <!-- fine filtro -->


    <a class="btn btn-sm btn-success mt-2 mb-4" href="{% url 'chemicals:create-product' pk=supplier.pk %}"><span class="bi bi-person-plus-fill"></span> Aggiungi</a>
        <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th class="text-center">Prodotto</th>
                            <th class="text-center">Prezzo</th>
                            <th class="text-center">Solvente</th>
                            <th class="text-center">Revisione SDS</th>                                                       
                            <th class="text-center">SDS</th>
                            <th class="text-center">Azioni</i></th>    
                          </tr>
                        </thead>
                        <tbody>
                          
                          {% for chemical in filter.qs %}
                          <tr>                                    
                            <td><a href="{% url 'chemicals:single-product' pk=chemical.id_chemical %}">{{ chemical.description }}</a></td>                                                   
                            
                            {% if chemical.latest_price %}
                              <td class="text-end">{{ chemical.latest_price.0.price }}</td> 
                            {% else %}
                              <td class="text-end">0</td> 
                            {% endif %}
                            <td class="text-end">{{ chemical.cov }}</td>
                            {% if chemical.latest_rev %}
                              <td class="text-end">{{ chemical.latest_rev.0.rev_date }}</td> 
                              <td class="text-end">{{ chemical.latest_rev.0.sds }}</td> 
                            {% else %}
                              <td class="text-end">Manca</td> 
                              <td class="text-end">Manca</td> 
                            {% endif %} 
                            <td class="text-center" style="color: red"><a href="{% url 'chemicals:cancella_prodotto' pk=chemical.id_chemical %}"><i class="bi bi-trash"></i></a></td>                            
                          </tr>
                          {% endfor %}
                          



                        </tbody>
                      </table>
                      <div class="pagination">
                        
                          <span class="step-links">                          
                              {% if chem_filter.has_previous %}
                                  <a href="?pagina=1">&laquo; Inizio</a>
                                  <a href="?pagina={{ chem_filter.previous_page_number }}">precedente</a>
                              {% endif %}
                              
                              <span class="current">
                                
                                  Pagina {{ chem_filter.number }} di {{ chem_filter.paginator.num_pages }}
                                
                              </span>
                        
                              {% if chem_filter.has_next %}
                              <a href="?pagina={{ chem_filter.next_page_number }}">successiva</a>
                                <a href="?pagina={{ chem_filter.paginator.num_pages }}">Fine &raquo;</a>
                              {% endif %}
                              
                          </span>
                      
                      </div>


    </div>

    

</div>



{% endblock content %}

{% block scripts %}{{ block.super }}

{% endblock scripts %}