{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Scheda di Sicurezza{% endblock head_title %}

{% block content %}

<div class="container">
    <br>
    <h5 class="text-end">Scheda di Sicurezza Prodotto {{ chemical.id_chemical }}</h5>

    <hr>
    <br>


    <div class="form-group">
        <form class="" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" class="btn btn-info mb-2 me-1" value="Salva">




                    <div class="row mb-4">

                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row">
                          <div class="col-md-5">
                            {{ form.sds|as_crispy_field }}
                            {{ form.id_chemical.as_hidden }}
                          </div>
                          <div class="col-md-3">
                            {{ form.rev_date|as_crispy_field }}
                          </div>
                          <div class="col-md-1">
                            {{ form.conformityReach|as_crispy_field }}
                          </div>
                          <div class="col-md-3">
                            {{ form.reg_id|as_crispy_field }}
                          </div>
                        </div>

                    </div>
                      </div>

        <!-- fine form -->
        <!-- </form> -->



    <!-- </div> -->
    <!-- riquadro sostanze -->
    <div class="col-md-4">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center">Sostanza</th>
              <th class="text-center">Num EC</th>
              <th class="text-center">Num CAS</th>
              <th class="text-center">Concentrazione</th>
            </tr>
          </thead>
          <tbody>
            {% for substance in substances %}
            <tr>

              <td class="text-end">{{ substance.id_substance }}</td>
              <td class="text-end">{{ substance.id_substance.ec_number }}</td>
              <td class="text-end">{{ substance.id_substance.cas_number }}</td>
              <td class="text-end">{{ substance.concentration }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if form.instance.id_sds  %}
        <a class="btn btn-sm btn-outline-success mb-2" href="{% url 'chemicals:new-substance-sds' pk=sds.pk %}">Aggiungi</a>
        {% else %}
            <a class="btn btn-sm btn-outline-success mb-2" disabled>Salvare per inserire</a>
        {% endif %}
      </div>

    <!-- fine riquadro sostanze -->
    <div class="row">
    <!-- riquadro Frasi di Rischio -->
    <div class="col-md-4">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center">Frase di Rischio</th>
              <th class="text-center">Descrizione</th>

            </tr>
          </thead>
          <tbody>
            {% for hazard_statement in hazard_statement %}
            <tr>

              <td class="text-end">{{ hazard_statement.id_hs }}</td>
              <td class="text-end">{{ hazard_statement.id_hs.description }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if form.instance.id_sds  %}
            <a class="btn btn-sm btn-outline-success mb-2" href="{% url 'chemicals:new-hs-sds' pk=sds.pk %}">Aggiungi</a>
        {% else %}
            <a class="btn btn-sm btn-outline-success mb-2" disabled>Salvare per inserire</a>
        {% endif %}
      </div>

    <!-- fine riquadro Frasi di Rischio -->

    <!-- riquadro Simboli di Pericolo -->
    <div class="col-md-3">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center">Sigla</th>
              <th class="text-center">Pericolo</th>
              <th class="text-center">Simbolo</th>

            </tr>
          </thead>
          <tbody>
            {% for danger_symbol in danger_symbols %}
            <tr>

              <td class="text-center align-middle">{{ danger_symbol.id_danger.acronym }}</td>
              <td class="text-center align-middle">{{ danger_symbol.id_danger }}</td>
              <td class="text-center"><img src="{{ danger_symbol.id_danger.symbol.url }}" alt="logo" style="width: 50px;"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if form.instance.id_sds  %}
            <a class="btn btn-sm btn-outline-success mb-2" href="{% url 'chemicals:new-ds-sds' id=sds.id_chemical.pk pk=sds.pk %}">Aggiungi</a>
        {% else %}
            <a class="btn btn-sm btn-outline-success mb-2" disabled>Salvare per inserire</a>
        {% endif %}
      </div>

    <!-- fine riquadro Simboli di Pericolo -->

    <!-- riquadro Consigli di Prudenza -->
    <div class="col-md-3">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center">Consiglio di Prudenza</th>


            </tr>
          </thead>
          <tbody>
            {% for precautionary_statement in precautionary_statements %}
            <tr>

              <td class="text-end">{{ precautionary_statement.id_ps }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if form.instance.id_sds  %}
            <a class="btn btn-sm btn-outline-success mb-2" href="{% url 'chemicals:new-ps-sds' pk=sds.pk %}">Aggiungi</a>
        {% else %}
            <a class="btn btn-sm btn-outline-success mb-2" disabled>Salvare per inserire</a>
        {% endif %}
      </div>
      
    <!-- fine riquadro Consigli di Prudenza -->
  <!-- fine form -->
  </form>
</div>

</div>




<script>
    prev = document.getElementById("previous_page");
    prev.value = document.referrer;
</script>
{% endblock content %}