{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{{ block.super }} - Scheda di Sicurezza{% endblock head_title %}

{% block content %}

<div class="container">
    <br>
    <h5 class="text-end">Scheda di Sicurezza Prodotto {{ chemical.id_chemical.description }}</h5>

    <hr>
    <br>


    <div class="form-group">
        <form class="" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previous_page" name="previous_page"
            value="/previous/page/url">
            <input type="submit" class="btn btn-info mb-2 me-1" value="Salva">




                    <div class="row mb-4">

                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row">
                          <div class="col-md-5">
                            {{ form.id_substance|as_crispy_field }}
                            {{ form.id_sds.as_hidden }}
                            {{ form.id_chemical.as_hidden }}
                          </div>

                          <div class="col-md-1" >
                            <!-- Button trigger modal -->
                          <button type="button" class="btn btn-primary mt-4" id="loadSubstanceModal" data-bs-toggle="modal" data-bs-target="#SearchSubstancesModal">
                            <span class="bi bi-search"></span>
                          </button>
                        </div>
                          
                        {% include 'partials/_substances_modal.html' %}
                          
                        
                      

                          <div class="col-md-3">
                            {{ form.concentration|as_crispy_field }}
                          </div>
                        </div>
                        <div class="row" id="substance-features">

                        </div>
                        </div>

                    </div>
                      </div>

        <!-- fine form -->
        </form>



    </div>
    


</div>


 


{% endblock content %}

{% block scripts %}{{ block.super }}


<script>


  //====================================Cercare una sostanza


  $('#SearchSubstancesModal').on('shown.bs.modal', function () {
    $('#searchCAS').focus();
})  

//Quando si seleziona una riga questa viene riportata nel form della pagina e si chiude il modal
$(function() {
$('#substance-list').on('click', 'button', function(){
    var idbutton=$(this).attr('id');
    let idSubstance=idbutton
    data={
    id_substance: idSubstance    
    }      
    $('#id_id_substance').val(data.id_substance);      
    $('#SearchSupplierModal').modal('hide');
});
});


const substanceList = document.getElementById('substance-list')
const substanceFeat = document.getElementById('substance-features')
const searchSubstance = document.getElementById('searchSubstance')
const searchCAS = document.getElementById('searchCAS')
const searchEC = document.getElementById('searchEC')
const loadSubstanceModal = document.getElementById('loadSubstanceModal')
const url = window.location.href + "substances-list/"


const getDataSubstance = () => {    
  let search_description=$('#searchSubstance').val() 
  let search_cas=$('#searchCAS').val() 
  let search_ec=$('#searchEC').val() 



  if (search_cas){
    //url_var=`/chemicals/data/${search_description}/${search_cas}/${search_ec}/`
    url_var=`/chemicals/substance/${search_cas}/`
    
  


  $.ajax({
      type: 'GET',        
      url: url_var,   
      dataType: "json",
      
      
      success: function(response){
          /*console.log("Qui")
          const data = response.data  
          
          console.log("Data:" + data)    
          $(substanceList).empty()  
          console.log("Svuotato lista")
                
          for (var i = 0; i < data.length; i++){
            
              var row = `
              <tr>  
              <td class="text-center"><button type="button" class="btn btn-primary btn-sm" id="${data[i].id_substance}">
              <span class="bi bi-search"></span> 
              </button></td>
              <td class="text-start" >${data[i].description}</td>                
              <td class="text-start" >${data[i].cas_number}</td>                
              <td class="text-start" >${data[i].ec_number}</td>                
              </tr>  
              `
              substanceList.innerHTML+=row
            
            console.log("Caricato")*/
            
            const data = response
            
            var jsondata = JSON.parse(data)
            
            
            Array.from(jsondata).forEach(obj => {
              var option = new Option(obj['fields']);
              
              
              
              $(substanceList).prepend(
                  `<tr>
                      <td class="text-center"><button type="button" class="btn btn-primary btn-sm" id="${obj['fields']['id_substance']}">
                      <span class="bi bi-search"></span> 
                      <td>${obj['fields']['description']}</td>
                      <td>${obj['fields']['cas_number']}</td>
                      <td>${obj['fields']['ec_number']}</td>
                      
                      </tr>`
              )
          });
        
      
      
    },
      error: function(error){
      
      console.log(error)
      
      }
      
  })
} else {
  url_var= `/chemicals/substances-list/`
}

  }


loadSubstanceModal.addEventListener('click', ()=>{
$('#searchSubstance').val("")
$('#searchCAS').val("")
$('#searchEC').val("")

getDataSubstance()
})

searchSubstance.addEventListener('keyup', ()=>{  
getDataSubstance()
})

searchCAS.addEventListener('keyup', ()=>{  
getDataSubstance()
})

searchEC.addEventListener('keyup', ()=>{  
getDataSubstance()
})


//getDataSubstance()

//====================================Fine ricerca sostanza

</script>

{% endblock scripts %}
