{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Anagrafiche Fornitori{% endblock head_title %} 
{% block content %}

<div class="container">
    <form method="get">
    <div class="well">
        <h4 style="margin-top: 0">Cerca Fornitore Prodotti Chimici</h4>
        <div class="row">
        <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.company_name.label_tag }} 
            {% render_field filter.form.company_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.vat_number.label_tag }} 
            {% render_field filter.form.vat_number class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
            {{ filter.form.cf_number.label_tag }} 
            {% render_field filter.form.cf_number class="form-control" %}
        </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm mt-2 mb-4">
        <span class="bi bi-search"></span> Cerca
        </button>
        <!-- <a class="btn btn-sm btn-success mt-2 mb-4" href="{% url 'master_data:create-supplier' %}"><span class="bi bi-person-plus-fill"></span> Aggiungi</a> -->
        <!--<button type="submit" class="btn btn-success btn-sm mt-2 mb-4">
        <span class="bi bi-person-plus-fill"></span> Aggiungi
        </button>-->
    </div>
    </form>

    <table class="table table-bordered table-striped">
    <thead>
        <tr>
        <th>Ragione Sociale</th>
        <th>Partita IVA</th>
        <th>Codice Fiscale</th>
        
        </tr>
    </thead>
    <tbody>
        {% for supplier in filter.qs %}
        <tr>           
        <td><a href="{% url 'chemicals:price-list' pk=supplier.id_supplier %}">{{ supplier.company_name }}</a></td>        
        <td>{{ supplier.vat_number }}</td>
        <td>{{ supplier.cf_number }}</td>        
        {% endfor %}
        
    </tbody>
    </table>
</div>

{% endblock content %}
