.orange {
    background: #CC5803;

}

.green {
    background: #2d6a4f;
}

.fab {
    color : white;
}

/* .tabhgreen {
    background-color: #2a9d8f;
    color: white;
    
} */



#printbutton {
    color:#9381ff
}





