{% extends 'base.html' %} 
{% load static %}

{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Human Resources{% endblock head_title %} 
{% block content %}
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Selezione</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Assunzione</th>
            <th>Data Dimissioni</th>
            
          </tr>
        </thead>
        <tbody>
          {% for hr in human_resources %}
          <tr>        
            
            <td><a href="#"></a></td>
            <td>{{ hr.cognomedipendente }}</td>
            <td>{{ hr.nomedipendente }}</td>
            <td>{{ hr.dataassunzione|date:'d/m/Y' }}</td>
            <td>{{ hr.datadimissioni|date:'d/m/Y' }}</td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}