
{% extends 'base.html' %} 
{% load static %}

{% block content %}
<!--Container Main start-->
<div class="bg-white pt-3">
    <!-- chart -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow p-3">
                    <div class="card-body">
                        <h5 class="card-title">Utilizzo Solventi</h5>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = [];
var yValues = [];
generateData("x * 2 + 7", 0, 10, 0.5);

new Chart("myChart", {
    type: "bar",
    data: {
        labels: xValues,
            datasets: [{
            fill: false,
            pointRadius: 1,
            borderColor: "rgba(255,0,0,0.5)",
            data: yValues
        }]
    },    
        options: {
        legend: {display: false},
        title: {
        display: true,
        text: "Utilizzo Solventi",
        fontSize: 16
    }
    }
});
function generateData(value, i1, i2, step = 1) {
for (let x = i1; x <= i2; x += step) {
yValues.push(eval(value));
xValues.push(x);
}
}
</script>
</div>
</div>
</div>
</div>
</div>
<br>
<hr>

    <!-- fine chart -->
    <h4>Ordini In Sospeso</h4>

    <div class="container">


        <!-- Tabella ordini in sospeso -->
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card shadow p-3">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">Chem Bros.</h5>
                    <p class="card-text">Order 124 - Date 01/01/2021</p>
                    <hr>
                    <p class="date" id="dataordine">2021/12/17</p>                            
                    <p>Ordine inviato <span id='date-time'></span> giorni fa.</p>
                    
                    <div class="text-end">
                        <a href="#" class="btn btn-success">Conforme</a>
                        <a href="order.html" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3">
                
                <div class="card-body">
                    <h5 class="card-title">Your Chemicals Inc</h5>
                    <p class="card-text">Order 123 - Date 02/01/2021</p>
                    <hr>
                    <p class="date" id="dataordine">2021/12/17</p>                            
                    <p>Ordine inviato <span id='date-time'></span> giorni fa.</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-success">Conforme</a>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3">
                
                <div class="card-body">
                    <h5 class="card-title">How Are you Spa</h5>
                    <p class="card-text">Order 125 - Date 05/01/2021</p>
                    <hr>
                    <p class="date" id="dataordine">2021/12/17</p>                            
                    <p>Ordine inviato <span id='date-time'></span> giorni fa.</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-success">Conforme</a>                                
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow p-3">
                
                <div class="card-body">
                    <h5 class="card-title">Hello World Inc.</h5>
                    <p class="card-text">Order 121 - Date 04/01/2021</p>
                    <hr>
                    <p class="date" id="dataordine">2021/12/17</p>                            
                    <p>Ordine inviato <span id='date-time'></span> giorni fa.</p>
                    <div class="text-end">
                        <a href="#" class="btn btn-success">Conforme</a>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <br>
            <br>


    
            </div>



</div>
<!--Container Main end-->
{% endblock %}