<!-- Tabella ordini in sospeso -->
{% load crispy_forms_tags %}      
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for order in orders %}
    <div class="col">
        <div class="card shadow p-3">        
        <div class="card-body">
            <h6 class="card-title">{{ order.id_supplier }}</h6>            
            <p class="card-text">Ordine n. {{ order.n_order }} - del {{ order.order_date }}</p>
            <hr>
            <p class="date mb-1" id="dataordine">Consegna richiesta: {{ order.delivery_date|default_if_none:"Nessuna" }}</p>                            
            <p>Ordine inviato <span>{{ order.days_open }}</span> giorni fa.</p>
            <div class="text-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#conformityModal">
                    Conforme
                </button>                                
                {% include 'partials/_confirmation_modal.html' %}
                
                <a href="{% url 'chemicals:update-order' pk=order.id_order %}" class="btn btn-primary btn-sm">Modifica</a>
                
            </div>
        </div>
        
        </div>
    </div>
    
    {% endfor %}  
    
</div>
