<!-- chart -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3">
                <div class="card-body">
                    <h5 class="card-title">Utilizzo Solventi</h5>
<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = [];
var yValues = [];
generateData("x * 2 + 7", 0, 10, 0.5);

new Chart("myChart", {
type: "bar",
data: {
    labels: xValues,
        datasets: [{
        fill: false,
        pointRadius: 1,
        borderColor: "rgba(255,0,0,0.5)",
        data: yValues
    }]
},    
    options: {
    legend: {display: false},
    title: {
    display: true,
    text: "Utilizzo Solventi",
    fontSize: 16
}
}
});
function generateData(value, i1, i2, step = 1) {
for (let x = i1; x <= i2; x += step) {
yValues.push(eval(value));
xValues.push(x);
}
}
</script>
</div>
</div>
</div>
</div>
</div>