<!-- Modal -->
<div class="modal fade" id="SearchChemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerca Prodotto Chimico...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="modal-body" >   
                    <input type="text" id="searchChemical" class="form-control mb-2" placeholder="Cerca prodotto" aria-label="ProdottoChimico" aria-describedby="basic-addon1">                                 
                        <div class="row" >
                            <div class="col-md-12 table-responsive" >                          
                                <table class="table table-bordered table-striped">                              
                                    <thead>   
                                        <tr>
                                        <th class="text-center">Scegli</th>
                                        <th class="text-center">Prodotto Chimico</th>
                                        <th class="text-center">Prezzo Corrente</th>
                                        <th class="text-center">Sov</th>
                                        
                                        </tr>
                                    </thead>
                                    <tbody id="chem-list" class="text-center">
                                        
                                    </tbody>
                                    
                                </table>
                                
                            </div>
                        
                        

                        </div>
                    
                    <div id="spinner-box" class="text-center">
                        <div class="spinner-border" role="status"></div>
                    </div>

                    <div class="text-center mb-3" id="">
                        <button type="button" class="btn btn-primary" id="load-btn">Carica ancora</button>
                    </div>
                    <div class="text-center mb-3" id="end-box">
                        
                    </div>
                </div>

            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
            
            </div>
        </div>
    </div>
</div> 
<!-- Fine Modal-->