<!-- Modal -->
<div class="modal fade" id="SearchSupplierModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerca Fornitore...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container">
          <div class="modal-body" >   
            <input type="text" id="searchSupplier" 
                class="form-control mb-2" placeholder="Cerca Fornitore" 
                aria-label="Supplier" aria-describedby="basic-addon1"
                >
            <div class="row" >
              <div class="col-md-12" >                          
                <table class="table table-bordered table-striped">                              
                  <thead>   
                    <tr>
                      <th class="text-center">Scegli</th>
                      <th class="text-center">Ragione Sociale</th>
                    </tr>
                  </thead>
                  <tbody id="supplier-list" class="text-center">
                    
                  </tbody>
                </table>
              </div>
              

            </div> <!-- fine lista recenti -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Fine Modal-->

  